.Menu-header {
  text-align: right;
}

.menu-list { 
  border: 2px solid 282c34(138, 36, 36);
  background-color: #282c34;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: large;
  color: chartreuse;
}

.menu-list li {
  font-style: italic;
  cursor:pointer;
  display: inline-block;
  text-align: center;
  font-weight: bold; 
  text-decoration: none; 
  margin-right: 80px; 
}

.App-link {
  color: #d41565;
}
