/* FreeChampions.css */
.menu-championNames {
  text-align: center;
  margin: 20px;
}

.menu-championNames h1 {
  font-size: 24px;
}

.menu-championNames ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center; 
  flex-wrap: wrap; 
}

.menu-championNames li {
  margin: 10px;
  flex: 0 0 calc(25% - 20px); 
}

.menu-championNames img {
  width: 100%; 
  max-width: 300px; 
  height: auto;
  border: 2px solid #ddd;
  border-radius: 5px;
}

.menu-championNames p {
  color: red;
}
